.nav{
position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 244, 88, 0.9);
  justify-content: space-evenly;
  height: 2.5em;
  width: 100%;
  top: 0%;
  right: 0%;
  left: 0%;
  padding-left: 6em;
  border-style: solid;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-color: rgb(0, 0, 0);
}

.logo{

}

.imgLogo{
width: 1em;
height: 1em;
}

.button{

}

.link{

}

.div{
    
}

