.card{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    margin-left:.1em ;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 18em;
    padding: 50px 30px 50px -10em;
}

.img{
    max-height: 5em;
    object-fit: cover;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}